@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,::before,::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 375px;
    max-width: 1440px;
    min-height: 100vh;
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: hsl(234, 29%, 20%);
    font-size: 40px;
    font-weight: 700;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    text-wrap: nowrap;
    font-size: 15px;
    font-weight: 500;
}
p{
    font-size: 14px;
    font-weight: 500;
}
.container{
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 17px;
}
.informations{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px 0 35px;
    gap: 20px;
}
.list-box{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.form-box{
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 100%;
}
#mail-input{
    border: 1px solid hsl(231, 7%, 60%);
    padding: 15px 15px;
    border-radius: 5px;
}
#mail-input:focus{
    outline: none;
    border:1px solid hsl(234, 29%, 20%)
}
#mail-submit,#dismiss-message{
    color: white;
    background-color: hsl(234, 29%, 20%);
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    font-weight: 700;
    margin: 7px 0;
}
#dismiss-message{
    min-width: 300px;
}
#mail-submit:hover,#dismiss-message:hover{
    background: rgb(255,83,120);
    background: linear-gradient(90deg, hsl(347, 100%, 66%) 0%, hsl(15, 98%, 61%) 100%);
    -webkit-box-shadow: 0px 15px 38px -10px rgb(253, 106, 57);
    -moz-box-shadow: 0px 15px 38px -10px rgb(253, 106, 57);
    box-shadow: 0px 15px 38px -10px rgb(253, 106, 57);
    transition-duration: 200ms;
    transform: translateY(-1px);
}
.mail-label{
    font-size: 12px;
    font-weight: 600;
    font-size: 15px;
}

.top{
    display: none;
}
.illustration-mobile{
    width: 100%;
    overflow: hidden;
}

.success-container{
    background-color: white;
    display: none;
    align-items: start;
    flex-direction: column;
    max-width: min-content;
    padding: 40px 40px;
    gap: 20px;
    border-radius: 20px;
}

.mail-provided{
    font-weight: 700;
}

@media (max-width:768px) {

    .container{
        height: 100vh;
        width: 100%;
        border-radius: 0;
        flex-direction: column-reverse;
        justify-content: start;
        gap: 20px;
        padding: 0;
    }
    .success-container{
        min-width: 100%;
        height: 100vh;
        justify-content: space-between;
        border-radius: 0;
    }
    .success-informations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 30px;
        height: 350px;

    }
    .right{
        display: none;
    }
    .top{
        display: block;
    }
    .informations{
        padding: 0  40px;
        min-width: 100%;
    }
    .list-box{
        gap: 13px;
    }
    li{
        gap: 13px;
    }
}